loans_data_encoded.csv
Untitled.ipynb
Untitled1.ipynb
loans_data_encoded.ipynb
17-3-1-logistic_regression_demo/.ipynb_checkpoints/logistic_regression-checkpoint.ipynb
17-3-2-logistic_regression_dm/.DS_Store
17-3-2-logistic_regression_dm/Notebook/.DS_Store
17-3-2-logistic_regression_dm/Notebook/diabetes.ipynb
17-3-2-logistic_regression_dm/Notebook/.ipynb_checkpoints/diabetes-checkpoint.ipynb
17-3-2-logistic_regression_dm/Resources/diabetes.csv
17-4-2-precision__recall_f1/.DS_Store
17-4-2-precision__recall_f1/Notebook/.DS_Store
17-4-2-precision__recall_f1/Notebook/diabetes.ipynb
17-4-2-precision__recall_f1/Notebook/.ipynb_checkpoints/diabetes-checkpoint.ipynb
17-4-2-precision__recall_f1/Resources/diabetes.csv
17-5-2-svm/.DS_Store
17-5-2-svm/Notebook/.DS_Store
17-5-2-svm/Notebook/svm_loan_approver.ipynb
17-5-2-svm/Notebook/.ipynb_checkpoints/svm_loan_approver-checkpoint.ipynb
17-5-2-svm/Resources/loans.csv
17-6-1-label_encode/.DS_Store
17-6-1-label_encode/Notebook/.DS_Store
17-6-1-label_encode/Notebook/categorical-data.ipynb
17-6-1-label_encode/Notebook/.ipynb_checkpoints/categorical-data-checkpoint.ipynb
17-6-1-label_encode/Resources/loans_data_encoded.csv
17-6-1-label_encode/Resources/loans_data.csv
17-6-4-scale/.DS_Store
17-6-4-scale/Notebook/categorical-data.ipynb
17-6-4-scale/Notebook/.ipynb_checkpoints/categorical-data-checkpoint.ipynb
17-6-4-scale/Resources/loans_data_encoded.csv
17-7-2-decision_tree/.DS_Store
17-7-2-decision_tree/Notebook/decision-trees.ipynb
17-7-2-decision_tree/Notebook/decision-trees.pdf
17-7-2-decision_tree/Notebook/.ipynb_checkpoints/decision-trees-checkpoint.ipynb
17-7-2-decision_tree/Notebook/.ipynb_checkpoints/Untitled-checkpoint.ipynb
17-7-2-decision_tree/Resources/.DS_Store
17-7-2-decision_tree/Resources/loans_data_encoded.csv
17-9-3-gradient_boosted_tree/.DS_Store
17-9-3-gradient_boosted_tree/Notebook/.DS_Store
17-9-3-gradient_boosted_tree/Notebook/gradient_boosted_tree.ipynb
17-9-3-gradient_boosted_tree/Notebook/.ipynb_checkpoints/gradient_boosted_tree-checkpoint.ipynb
17-9-3-gradient_boosted_tree/Resources/.DS_Store
17-9-3-gradient_boosted_tree/Resources/loans_data_encoded.csv
linear_regression_salary/linear_regression.ipynb
linear_regression_salary/.ipynb_checkpoints/linear_regression-checkpoint.ipynb
linear_regression_salary/Resources/17-3-1-logistic_regression_demo.zip
linear_regression_salary/Resources/Salary_Data.csv
.ipynb_checkpoints/loans_data_encoded-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
17-10-1-oversampling/.DS_Store
17-10-1-oversampling/oversampling.ipynb
17-10-1-oversampling/.ipynb_checkpoints/oversampling-checkpoint.ipynb
17-10-2-undersampling/.DS_Store
17-10-2-undersampling/Notebook/.DS_Store
17-10-2-undersampling/Notebook/undersampling.ipynb
17-10-2-undersampling/Notebook/.ipynb_checkpoints/undersampling-checkpoint.ipynb
17-10-2-undersampling/Resources/cc_default.csv
17-10-3-combination_sampling/.DS_Store
17-10-3-combination_sampling/Notebook/.DS_Store
17-10-3-combination_sampling/Notebook/combination_sampling.ipynb
17-10-3-combination_sampling/Notebook/.ipynb_checkpoints/combination_sampling-checkpoint.ipynb
17-10-3-combination_sampling/Resources/cc_default.csv
17-3-1-logistic_regression_demo/logistic_regression.ipynb
Module-17-Challenge-Resources/Starter_Code/.ipynb_checkpoints/Stu-credit_risk_resampling-checkpoint.ipynb
Module-17-Challenge-Resources/Starter_Code/.DS_Store
Module-17-Challenge-Resources/.DS_Store
Module-17-Challenge-Resources/Starter_Code/.ipynb_checkpoints/Stu-credit_risk_ensemble-checkpoint.ipynb
Module-17-Challenge-Resources/Starter_Code/Resources/LoanStats_2019Q1.csv
